@page
@model DagligVareLevering.Pages.Store.CreateStoreModel
@{
}
<h1>Create Store</h1>

<form method="post">
	<div class="form-group">
		<label asp-for="Store.Name" class="control-lable"></label>
		<input asp-for="Store.Name" class="form-control" />
		<span asp-validation-for="Store.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Store.Adress" class="control-lable"></label>
		<input asp-for="Store.Adress" class="form-control" />
		<span asp-validation-for="Store.Adress" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="create" class="btn btn-primary" />
	</div>
</form>